{% extends "base.html" %}

{% block konten %}

<h1>Tentang Pengaduan</h1>
<p>Pengaduan  adalah  laporan  yang  mengandung  informasi atau indikasi terjadinya pelanggaran terhadap kode etik dan pedoman perilaku hakim, pelanggaran kode etik dan pedoman perilaku panitera dan jursita, pelanggaran terhadap kode etik dan  kode  perilaku  pegawai  Aparatur  Sipil  Negara, pelanggaran hokum acara atau pelanggaran terhadap disiplin pegawai  negeri  sipil  atau  peraturan  disiplin  militer, maladministrasi  dan  pelayan  publik  dan/atau  pelanggaran pengelolaan keuangan dan barang milik negara.</p>

{% endblock %}