{% extends "base.html" %}

{% block konten %}

<h3>Detail Pengaduan</h3>
<div class="alert alert-success" role="alert">
    <h4 class="alert-heading">Biodata</h4>
    <hr>
    <!-- table -->
    <table class="table table-hover">
        <tr>
            <td>NPM</td>
            <td>{{dt_pengaduan.mahasiswa.npm}}</td>
        </tr>
        <tr>
            <td>Nama</td>
            <td>{{dt_pengaduan.mahasiswa.nama}}</td>
        </tr>
        <tr>
            <td>Email</td>
            <td>{{dt_pengaduan.mahasiswa.email}}</td>
        </tr>
        <tr>
            <td>Kelas</td>
            <td>{{dt_pengaduan.mahasiswa.kelas}}</td>
        </tr>
        <tr>
            <td>Alamat</td>
            <td>{{dt_pengaduan.mahasiswa.alamat}}</td>
        </tr>
    </table>
</div>

<div class="alert alert-secondary" role="alert">
    <h4 class="alert-heading">Data Pengaduan</h4>
    <hr>
    <table class="table table-hover">
        <tr>
            <td>Tgl Post</td>
            <td>{{dt_pengaduan.tgl_post}}</td>
        </tr>
        <tr>
            <td>Subjek</td>
            <td>{{dt_pengaduan.subjek}}</td>
        </tr>
        <tr>
            <td>Kategori</td>
            <td>{{dt_pengaduan.kategori}}</td>
        </tr>
        <tr>
            <td>Pengaduan :</td>
        </tr>
        <tr>
            <td>{{dt_pengaduan.detail_pengaduan}}</td>
        </tr>
    </table>
  </div>
<a href="{{url_for('rmahasiswa.pengaduan')}}" class="btn btn-warning">Kembali</a>
{% endblock %}